body {
  display: flex;
  padding: 30px;
  gap: 30px;
}
.card {
  width: 400px;
  height: 600px;
  border: solid 3px gray;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card p {
  font-size: 50px;
}
.submit-style {
  height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-text {
  text-align: center;
  font-size: 50px;
}
.submit-style {
  width: 50px;
  background-color: aliceblue;
}
